$error-color: #ff0000;
$color-primary: #ed4014;
$color-white-primary: #ffffff;
$color-blue-primary: #2d8cf0;
$color-gray-primary: #808080;
$color-gray-light-8: #888;
$color-gray-light: #ddd;
$color-gray-medium: #555;
$color-red-primary: #ff0000;
$color-red-light: #b22222;
$bg-color-dashboard: #f9f9f9;
